.main-title {
	padding-top:1.5vh;
	padding-bottom:3.5vh;
	text-align:center;
	color:#7b87b8;
	height:3rem;
	font-size:4rem;
}

* {
	margin: 0;
	padding: 0;
}
		
body {
	background-color: #660033;
	text-align: center;
}

.container{
	height:70vh;
	display: flex;
	justify-content:center;
	align-items: center;
	
}

.game{
	height: 60vmin;
	width: 60vmin;
	display:flex;
	flex-wrap: wrap;
	gap: 1.5vmin;
	justify-content:center;
	
}

.box{
	height:18vmin;
	width:18vmin;
	border-radius:0.8rem;
	border-color:red;
	font-size:8vmin;
	color:red;
	background-color:#ffff80;
	
	
	
}

.box:hover{
	background-color: chocolate;
}

#reset{
	padding: 1rem;
	font-size:1.25rem;
	background:#191913;
	color:white;
	border-radius:0.6rem;
	border:none;
}

#new-btn {
	padding: 1rem;
	font-size: 1.25rem;
	background: #191913;
	color: white;
	border-radius: 1rem;
	border: none;
}
#msg {
	font-size: 8vmin;
}
.msg-container {
	height: 30vmin;
}
.hide {
	display: none;
}

.score{
    display:flex;
    justify-content:space-between;
    padding:0 5vw;
    color:white;
    font-size:1.2rem;
}

#turn {
	
	color:white;
	padding-bottom:0.5rem;
	padding-top:-1rem;
}